#page-footer {
	margin-top: 80px;
	background: $color-black;
	color: $color-white;
	font-size: 13px;
	padding: 18px 0 52px;
	@media (max-width: 600px) {
		.pc25 {
			margin-bottom: 1em;
		} 		
	}
	.logo {
		position: static;
		fill: $color-white;
		margin: 0 0 16px 0;
		float: none;
	}
	
}


