/* =============================================================================
   5. 	Global Styles
   ========================================================================== */
body {
	line-height: 1.25em;
	font-family: $font-family-text;
  color: $color-font;
	overflow-x: hidden;
	overflow-y: scroll; // helps with scrolling for mobile
}

a {
	text-decoration: none;
	color: inherit;
}
.container {
	display: block;
	min-height: 100%;
}

/* =============================================================================
   Single Full Width
   ========================================================================== */
.wrap {
	position: relative;
	margin: 0 auto;
	width: $page-width;
	@media (max-width: 900px) {
		width: 100%;
		margin: 0;
		padding: 0 5%;  		
	}
	@media (max-width: 600px) {
		width: 100%;
		margin: 0;
		padding: 0 2.5%;  		
	}
}

/* =============================================================================
   Floated Percentage Width Columns
   ========================================================================== */
.pc25, .pc30, .pc50, .pc70, .pc75 {
	float:left;
	img {
		max-width:100%;
		vertical-align: middle ;
	}
}

.pc25 {
	width: 25%;
	@media (max-width: 600px) {
		float: none;
		width: 100%;  		
	}
}
.pc30 {
	width: 30%;
	@media (max-width: 600px) {
		float: none;
		width: 100%;  		
	}
}

.pc50 {
	float: left;
	width: 50%;
	@media (max-width: 600px) {
		float: none;
		width: 100%;  		
	}
}
.pc70 {
	float: left;
	width: 70%;
	@media (max-width: 600px) {
		float: none;
		width: 100%;  		
	}
}
.pc75 {
	float: left;
	width: 75%;
	@media (max-width: 600px) {
		float: none;
		width: 100%;  		
	}
}
/* =============================================================================
   Non Floated Percentage Widths
   ========================================================================== */
.w25, .w50, .w75 {
	img {
		max-width:100%;
		vertical-align: middle ;
	}
}

.w25 {
	width: 25%;
	@media (max-width: 600px) {
		width: 100%;  		
	}
}
.w50 {
	width: 50%;
	@media (max-width: 600px) {
		width: 100%;  		
	}
}

.w75 {
	width: 75%;
	@media (max-width: 600px) {
		float: none;
		width: 100%;  		
	}
}



/* =============================================================================
   Elements 
   ========================================================================== */ 
.btn {
	background: $color-black;
	color: $color-white;
	display: inline-block;
	padding: 4px 10px;
	vertical-align: middle;
	text-align: center;
	&:hover {
		background: $color-primary;
	}
}

a.primary {
	background: $color-primary;
} 
a.primary:hover {
	background: $color-secondary;
}
a.secondary {
	background: $color-secondary;
} 
a.secondary:hover {
	background: $color-primary;
}