/*  ==========================================================================
		Fonts	
		========================================================================== */
$font-family-headline: "font-here", sans-serif; /* weights, 500, 700 */
$font-family-text: "font-here", serif; /* weights, 500, 700 */
$fontsize: 14px;

/*  ==========================================================================
		Line Height	
		========================================================================== */
$line-height: 16px;

/*  ==========================================================================
		Font Weights	
		========================================================================== */ 
$light: 300;
$normal: 500;
$semibold: 600;
$bold: 700;

/*  ==========================================================================
		Colors	
		========================================================================== */
$color-white: #FFF;
$color-black: #000;
$color-font: #58585B;
$color-primary: #B95A6C;
$color-secondary: #99CC66;

/*  ==========================================================================
		Wrap & page setups width	
		========================================================================== */
$page-width: 960px;