/*  ==========================================================================
		Fonts	
		========================================================================== */
$font-family-headline: "Ebisu light", Helvetica, Arial, Sans-Serif; /* weights, 500, 700 */
$font-family-text: Arial, Helvetica, Sans-Serif;
  /* weights, 500, 700 */
$font-family-navigation: $font-family-text;
$fontsize: 15px;

/*  ==========================================================================
		Line Height	
		========================================================================== */
$line-height: 1.25em;

/*  ==========================================================================
		Font Weights	
		========================================================================== */ 
$light: 100;
$normal: 300;
$semibold: 600;
$bold: 800;

/*  ==========================================================================
		Colors	
		========================================================================== */
$color-white: #FFF;
$color-black: #000;
$color-font: #333333;
$color-primary: #333333;
$color-secondary: #99CC66;

/*  ==========================================================================
		Wrap & page setups width	
		========================================================================== */
$page-width: 900px;